@import 'basics.css';

body, html {
  margin: 0;
  height: 100%;
}


/* Weboldal címe és háttere */
.felso {
  width: 100%;
  background-color: black;
  color: white;
  height: 320px;
  padding-top: 30px;
  font-size: 24px;
  float: left;
}

.cim{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.top_img {
  float: left;
  width: 50px;
  margin-right: 50px;
}

.also {
  background-color: white;
}


/* maga a weboldal
 * fő rész */
#befoglalo {
  clear: both;
  position: absolute;
  background-color: lightgrey;
  width: 90%;
  height: 100%;
  min-height: 600px;
  margin: 180px 5% 0 5%;
  padding-bottom: 30px;
}

.main_bacground {
  color: white;
  background-image: url("../img/ViragKepek_0040.jpg");
  background-size: cover;
  height: 60%;
}

/* Menü sor */
ul.menu_bar {
  float: right;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 1%;
}
ul.menu_bar li{ display: inline;}

.menu {
  float: right;
  padding: 15px 2% 15px 2%;
  cursor: pointer;
  margin: 0 6px;
}
.menu:hover {
  border-bottom: 3px solid darkgrey;
  padding-bottom: 12px;
  opacity: 0.75;
}

.menu_active {
  opacity: 0;
  cursor: default;
}
.menu_active:hover { opacity: 0; }

/* fő oldalrész */
.main {
  clear: both;
  padding: 8%;
}

/* Regisztrációs kör */
.circles {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.outer_circle {
  float: left;
  background-color: black;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  opacity: 0.4;
}

.inner_circle {
  background-color: black;
  margin: 15px;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  opacity: 0.7;
}

.reg {
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

.reg input {
  margin: 8px;
  background-color: transparent;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 6px;
}

button.reg-button {
  width: 124px;
  margin: 8px auto 0 auto;
  border: none;
  background-color: white;
  color: black;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
}
button.reg-button:hover, button.reg-button:focus { opacity: 0.75; }
button.reg-button:active { opacity: 0.5; }

/* láb rész */
.bottom {
  clear: both;
  position: absolute;
  background-color: white;
  margin: 30px 0 30px 0;
  padding: 40px;
  padding-top: 30px;
}

.bt_img {
  float: right;
  width: 200px;
}
